.wrap {
  display: flex;
  min-width: 300px;
  height: 200px;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(1, 1, 44);
  position: relative;

}

.drag-wrap {
  width: 10px;
  cursor: pointer;
  border: 1px solid;
  box-sizing: border-box;
  background-color: rgb(1, 1, 44);
  position: relative;

  
  /* 禁用选中 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  /* 移动端优化 */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.drag-wrap::after {
  content: '••';
  font-size: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(183, 181, 181);
}

#scalable-ele-1 {
  flex: 1;
  border-radius: 8px;
  padding: 10px;
  color: white;
  background-color: rgb(98, 97, 97, 0.5);
  overflow: scroll;

}

#scalable-ele-2 {
  flex: 1;
  padding: 10px;
   color: white;
  background-color: rgb(98, 97, 97, 0.5);
  border-radius: 8px;
  overflow: scroll;
}